.BrandonText-bold-normal {
  font-family: BrandonText;
  font-weight: bold;
  font-style: normal;
}
.BrandonText-normal-italic {
  font-family: BrandonText;
  font-weight: normal;
  font-style: italic;
}
.BrandonText-normal-normal {
  font-family: BrandonText;
  font-weight: normal;
  font-style: normal;
}

body {
  letter-spacing: -0.002em;
  line-height: 1.5;
  font-family: BrandonText;
  font-size: 22px;
}

h1, h2, h3, h4, h5, h5 {
  letter-spacing: -0.025em;
}

